fastapi[all]==0.103.1
uvicorn[standard]==0.23.2
sqlalchemy==2.0.20
psycopg2-binary==2.9.7
opencv-python-headless==4.8.0.76
numpy==1.25.2
paddlepaddle==2.5.1
paddleocr==2.7.0.1
spacy==3.6.1
reportlab==4.0.4
playwright==1.38.0
python-multipart==0.0.6
